@font-face
{
	font-family:sketch;
	src: url('appleberry_with_cyrillic.ttf')
}
@font-face
{
	font-family:handWritten;
	src: url('dandelion_in_the_spring.ttf')
}


body{
	font-family:;
	text-align:center;
}
p{
	font-family:handWritten;
	font-size:35px;
}
h1{
	font-family:sketch;
	font-size:50px;
}
